<div class="flex flex-wrap justify-content-center align-items-center w-full min-h-screen">
  <div class="auth-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()"
      class="auth-form border-1 border-50 surface-card flex flex-column py-7 px-4 md:px-7 surface-card border-round-xl">
      <p class="text-xl m-0 font-bold">Forgot password</p>

      @if (status === 'success') {
      <p class="text-color-secondary mb-4"> We have sent you an email. Please follow the instructions in the email to
        reset your password.</p>
      }
      @else {
      <p class="text-color-secondary mb-4"> Password reset link will be sent to your email</p>

      }
      <p-messages [value]="messages" [enableService]="false" />

      <div class="flex flex-column mb-4 gap-1 p-fluid">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-user" />
          <input type="email" id="email" formControlName="email" pInputText placeholder="Email"
            styleClass="surface-ground" />
        </p-iconField>
        <ng-container *ngIf="form.get('email')?.errors && form.get('email')?.touched">
          <small class="email-errors" class="text-red-500" *ngIf="form.get('email')?.errors?.required">
            Email is required
          </small>
          <small class="email-errors" class="text-red-500" *ngIf="form.get('email')?.errors?.email">
            Provide a valid email address
          </small>
        </ng-container>
      </div>
      <div class="mt-2 p-fluid">
        @if (status === 'loading') {
        <button type="submit" class="p-button p-button-success" pButton pRipple>
          <span class="flex align-items-center justify-content-center w-full gap-2">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
            <span class="p-button-label flex-grow-0">Processing...</span>
          </span>
        </button>
        }
        @else {
        <button type="submit" class="p-button p-button-success" label="Reset Password" pButton pRipple></button>
        }
      </div>
    </form>
  </div>
</div>