<div class="flex flex-wrap justify-content-center align-items-center w-full min-h-screen">
  <div class="auth-form border-round bg-black-alpha-40 ">
    <span class="text-center border-round">
      <p class="text-4xl">Login</p>
    </span>
    <form [formGroup]="loginForm" (ngSubmit)="loginWithPassword()"
      class="flex flex-column gap-2 p-4 border-round-bottom surface-ground">

      <p-messages *ngIf="errorMessages$ | async; let errorMessages" [value]="errorMessages" [enableService]="false" />

      <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" pInputText class="p-inputtext" />
        <ng-container *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
          <small class="email-errors" class="text-red-500" *ngIf="loginForm.get('email')?.errors?.required">
            Email is required
          </small>
          <small class="email-errors" class="text-red-500" *ngIf="loginForm.get('email')?.errors?.email">
            Provide a valid email address
          </small>
        </ng-container>
      </div>
      <div class="p-fluid flex flex-column gap-2">
        <label for="password">Password</label>
        <p-password type="password" id="password" formControlName="password" [feedback]="false" [toggleMask]="true" />
        <ng-container *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
          <small class="password-errors" class="text-red-500" *ngIf="loginForm.get('password')?.errors?.required">
            Password is required
          </small>
        </ng-container>
      </div>
      <div class="mt-4 mb-6 p-fluid">
        @if (status === 'loading') {
        <button type="submit" class="p-button p-button-success" pButton pRipple>
          <span class="flex align-items-center justify-content-center w-full gap-2">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
            <span class="p-button-label flex-grow-0">Signing in...</span>
          </span>
        </button>
        }
        @else {
        <button type="submit" class="p-button p-button-success font-bold" label="Sign in" pButton pRipple></button>
        }
      </div>
      <div class="flex flex-row justify-content-between">
        <a routerLink="/forgot-password">Forgot Password?</a>
        <span>Don't have an account? <a routerLink="/register">Register</a></span>
      </div>
      <p-divider align="center" type="dashed"></p-divider>
      <div class="flex flex-column justify-content-center align-items-center gap-2 m-2">
        <span class="text-center">or you can sign in with</span>
        <p-button icon="pi pi-google" [rounded]="true" severity="secondary" (click)="loginWithGoogle()" />
      </div>
    </form>
  </div>
</div>