<div class="flex flex-wrap justify-content-center align-items-center w-full min-h-screen">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
    class="auth-form border-1 border-50 surface-card flex flex-column py-7 px-4 md:px-7 surface-card border-round-xl">
    <p class="text-xl mt-0 mb-4 font-bold">Register</p>
    <p-messages [value]="errorMessages" [enableService]="false" [closable]="true" />

    <div class="flex flex-column gap-2 p-fluid mb-4">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-user" />
        <input type="name" id="name" formControlName="name" pInputText placeholder="Name" styleClass="surface-ground" />
      </p-iconField>
      <ng-container *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
        <small class="name-errors" class="text-red-500" *ngIf="registerForm.get('name')?.errors?.required">
          Name is required
        </small>
      </ng-container>
    </div>
    <div class="flex flex-column gap-2 p-fluid mb-4">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-user" />
        <input type="email" id="email" formControlName="email" pInputText placeholder="Email"
          styleClass="surface-ground" />
      </p-iconField>
      <ng-container *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
        <small class="email-errors" class="text-red-500" *ngIf="registerForm.get('email')?.errors?.required">
          Email is required
        </small>
      </ng-container>
    </div>
    <div class="flex flex-column gap-2 p-fluid mb-4">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-key z-2" />
        <p-password type="password" id="password" formControlName="password" [toggleMask]="true" />
      </p-iconField>
      <ng-container *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
        <small class="password-errors" class="text-red-500" *ngIf="registerForm.get('password')?.errors?.required">
          Password is required
        </small>
      </ng-container>
    </div>
    <div class="flex flex-column gap-2 p-fluid mb-4">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-key z-2" />
        <p-password type="confirmPassword" id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true" />
      </p-iconField>
      <ng-container *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched">
        <small class="confirm-password-errors" class="text-red-500"
          *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch']">
          Password and Confirm Password do not match
        </small>
      </ng-container>
    </div>
    <div class="p-fluid">
      @if (status === 'loading') {
      <button type="submit" class="p-button p-button-success" pButton pRipple>
        <span class="flex align-items-center justify-content-center w-full gap-2">
          <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
          <span class="p-button-label flex-grow-0">Processing...</span>
        </span>
      </button>
      }
      @else {
      <button type="submit" class="p-button p-button-success font-bold" label="Register" pButton pRipple></button>
      }
    </div>
    <div class="text-sm mt-4">
      <span>Already have an account? <a routerLink="/login">Sign in here</a></span>
    </div>
  </form>
</div>