<ng-container *ngIf="transactionsState$ | async; let state">
  <div class="w-full p-2">
    <app-transaction-filter-panel (dateFilter)="onDateFilter($event)"
      [showLoading]="state.status === 'loading'"></app-transaction-filter-panel>
  </div>
  <div class="grid w-full m-0">
    <div class="col-8  ">
      <p-card header="Transactions" styleClass="surface-ground surface-border border-1">
        <p-table [value]="state.transactions" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]" paginatorStyleClass="justify-content-end">
          <ng-template pTemplate="header">
            <tr>
              <th>Category</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Tags</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transaction>
            <tr>
              <td class="p-2">{{ transaction.category?.value }}</td>
              <td class="p-2">{{ transaction.amount }}</td>
              <td class="p-2">{{ transaction.transactionDate | date }}</td>
              <td class="p-2">
                <ng-container *ngIf="transaction.tags; let tags">
                  <p-chip *ngFor="let tag of tags" [label]="tag" styleClass="mr-1" />
                </ng-container>
              </td>
              <td class="p-2">
                <div class="flex gap-1 justify-content-end">
                  <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="secondary"
                    (click)="editTransaction(transaction)" size="small" />
                  <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="secondary"
                    (click)="deleteTransaction(transaction)" size="small" />
                </div>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </p-card>

      <!-- <p-panel>

        <p-table [value]="state.transactions" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]" paginatorStyleClass="justify-content-end">
          <ng-template pTemplate="header">
            <tr>
              <th>Category</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Tags</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transaction>
            <tr>
              <td class="p-2">{{ transaction.category?.value }}</td>
              <td class="p-2">{{ transaction.amount }}</td>
              <td class="p-2">{{ transaction.transactionDate | date }}</td>
              <td class="p-2">
                <ng-container *ngIf="transaction.tags; let tags">
                  <p-chip *ngFor="let tag of tags" [label]="tag" styleClass="mr-1" />
                </ng-container>
              </td>
              <td class="p-2">
                <div class="flex gap-1 justify-content-end">
                  <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="secondary"
                    (click)="editTransaction(transaction)" size="small" />
                  <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="secondary"
                    (click)="deleteTransaction(transaction)" size="small" />
                </div>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </p-panel> -->
    </div>
    <div class="col-4 ">
      <div class="grid">
        <div class="col-12">
          <ng-container *ngIf="calendarData$ | async as calendarData">
            <app-transaction-calendar [data]="calendarData"></app-transaction-calendar>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>